.registration-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #343a40;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.registration-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

/* Table styling */
.registration-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-table th, .registration-table td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

.registration-table th {
    background-color: #343a40;
    color: white;
}

.registration-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.registration-table tbody tr:hover {
    background-color: #e9ecef;
}

@media (max-width: 480px) {
    .registration-container{
        width:100%;
    }

    /* Table styling */
.registration-table {
    width: 60%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-table th, .registration-table td {
    border: 1px solid #dee2e6;
    padding: 1px;
    text-align: center;
    font-size: 15px;
}
}
